---
import Container from "@components/container.astro";
import { Icon } from "astro-icon/components";

const { margin } = Astro.props;

const footermenu = {
  company: [
    {
      title: "About Compass & Style",
      path: "/about",
    },
    {
      title: "Our Team",
      path: "/our-team",
    },
    {
      title: "Blog",
      path: "/blog",
    },
    {
      title: "F-A-Qs",
      path: "/faq",
    },
    {
      title: "Travel Tips",
      path: "/travel-tips",
    },
    {
      title: "Contact",
      path: "/contact",
    },
  ],
  services: [
    {
      title: "Destinations",
      path: "/destinations",
    },
    {
      title: "Our Services",
      path: "/our-services",
    },
    {
      title: "Luxury Experiences",
      path: "/luxury-experiences",
    },
    {
      title: "Inclusive Travel",
      path: "inclusive-travel",
    },
  ],
  resources: [
    {
      title: "Travel Tips",
      path: "travel-tips",
    },
    {
      title: "Accessibility Statement",
      path: "accessibility",
    },
    {
      title: "Terms and Conditions",
      path: "terms-and-conditions",
    },
    {
      title: "Privacy Policy",
      path: "/privacy",
    },
  ],
};
---

<footer
  class:list={[
    "py-14 bg-slate-100 border-t border-slate-100",
    margin && "mt-10",
  ]}
>
  <Container>
    <div class="grid sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-5 gap-8">
      <div class="sm:col-span-2 md:col-span-3 lg:col-span-2">
        <a href="/" class="text-lg flex items-center"
          ><span class="font-bold text-indigo-600">Compass</span>&<span
            class="text-slate-600">Style</span
          >
          <span
            class="uppercase mt-0.5 leading-none text-[10px] ml-1 font-bold bg-gray-200 text-slate-700 px-2 py-1 rounded-md"
            >TravelPros</span
          >
        </a>
        <p class="mt-4 text-sm text-slate-700 max-w-xs">
          We stand by our promise to take care of you from home to neverland and
          back.
        </p>
        <div class="flex gap-3 mt-4 items-center">
          <a
            href="https://x.com/compassandstyle"
            target="_blank"
            rel="noopener noreferrer"
            class="bg-slate-200 hover:bg-slate-300 rounded w-6 h-6 inline-flex items-center justify-center text-slate-500"
          >
            <Icon name="bx:bxl-twitter" class="w-4 h-4" />
            <span class="sr-only">Twitter or X</span></a
          >
          <a
            href="https://facebook.com/compassandstyle"
            target="_blank"
            rel="noopener noreferrer"
            class="bg-slate-200 hover:bg-slate-300 rounded w-6 h-6 inline-flex items-center justify-center text-slate-500"
          >
            <Icon name="bx:bxl-facebook-circle" class="w-4 h-4" /><span
              class="sr-only">Facebook</span
            ></a
          >
          <a
            href="https://linkedin.com/company/compassandstyle"
            target="_blank"
            rel="noopener noreferrer"
            class="bg-slate-200 hover:bg-slate-300 rounded w-6 h-6 inline-flex items-center justify-center text-slate-500"
          >
            <Icon name="bx:bxl-linkedin-square" class="w-4 h-4" /><span
              class="sr-only">Linkedin</span
            ></a
          >
        </div>
      </div>
      <div>
        <h3 class="font-medium text-sm text-slate-800"></h3>
        <div class="flex flex-col mt-3">
          {
            footermenu.company.map((item) => (
              <a
                href={item.path || "#"}
                class="py-2 text-sm text-slate-600 hover:text-indigo-600"
              >
                {item.title}
              </a>
            ))
          }
        </div>
      </div>
      <div>
        <h3 class="font-medium text-sm text-slate-800"></h3>
        <div class="flex flex-col mt-3">
          {
            footermenu.services.map((item) => (
              <a
                href={item.path || "#"}
                class="py-2 text-sm text-slate-600 hover:text-indigo-600"
              >
                {item.title}
              </a>
            ))
          }
        </div>
      </div>
      <Container>
        <div class="mt-14 pt-8 px-5 border-t border-slate-200">
          <p class="text-center text-sm text-slate-600 [text-wrap:balance]">
            Copyright © {new Date().getFullYear()} Compass & Style. All rights
            reserved.
          </p>
          <p class="text-center text-xs text-slate-600 mt-2">
            <a href="/terms" class="hover:text-indigo-500">
              {" "}
               Terms
            </a>{" "}
             ・{" "}
            <a href="/privacy" class="hover:text-indigo-500"> Privacy</a>
          </p>
        </div>
      </Container>
    </div>
  </Container>
</footer>
