---

---

<div>
  <h2 class="text-center text-slate-500">
    Established relationships with popular travel brands you know and trust
  </h2>
  <div
    class="flex gap-x-8 gap-y-4 md:gap-20 lg:gap-28 items-center justify-center mt-6 flex-wrap"
  >
    <div class="text-gray-500 my-2 h-7 md:h-9">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="97"
        height="48"
        viewBox="0 0 180 27.659"
        ><path
          fill="#414042"
          d="M48.453 3.042h-.735v21.937h8.847c1.409 0 2.678-.124 3.771-.366 1.123-.249 2.101-.625 2.907-1.114.812-.496 1.564-1.179 2.24-2.029.674-.851 1.23-1.93 1.655-3.205.421-1.271.636-2.739.636-4.365 0-1.912-.316-3.644-.938-5.146a9.154 9.154 0 0 0-2.891-3.8c-.993-.771-2.203-1.312-3.595-1.603-.979-.208-2.338-.309-4.152-.309h-7.745zm7.687 3.9c1.675 0 2.887.126 3.601.376.957.339 1.757 1 2.444 2.023.684 1.02 1.031 2.538 1.031 4.516 0 1.45-.183 2.689-.545 3.686-.35.965-.837 1.735-1.449 2.292-.417.379-.999.681-1.73.898-.769.229-1.87.346-3.275.346h-4.06V6.942h3.983z"
        ></path><path
          fill="#414042"
          d="M48.453 24.243V3.777h7.745c1.748 0 3.082.098 4.001.292 1.288.271 2.388.761 3.298 1.468 1.186.911 2.072 2.078 2.661 3.496.588 1.42.882 3.042.882 4.865 0 1.555-.199 2.934-.598 4.134-.399 1.2-.911 2.194-1.535 2.979-.623.787-1.306 1.406-2.046 1.857-.742.452-1.636.793-2.684 1.026-1.048.232-2.252.348-3.612.348l-8.112.001zm2.969-2.43h4.794c1.481 0 2.642-.125 3.485-.376.842-.251 1.514-.604 2.015-1.059.705-.641 1.253-1.502 1.645-2.585.395-1.082.59-2.395.59-3.937 0-2.137-.386-3.778-1.156-4.926-.771-1.147-1.708-1.916-2.811-2.307-.796-.279-2.078-.418-3.844-.418h-4.718v15.608zM95.057 3.042H80.551v21.937h15.727V21.08H84.721v-5.497h10.313v-3.899H84.721v-4.74h11.07v-3.9h-.734v-.002z"
        ></path><path
          fill="#414042"
          d="M81.286 24.243V3.777h13.771v2.43H83.985v6.211H94.3v2.429H83.985v6.967h11.557v2.43l-14.256-.001zM114.064 3.042h-3.436v21.937h14.215V21.08h-10.045V3.043l-.734-.001z"
        ></path><path
          fill="#414042"
          d="M111.363 24.243V3.777h2.701v18.036h10.045v2.43h-12.746zM149.264 3.042h-16.937v3.9h6.751v18.036h4.169V6.942h6.751v-3.9h-.734z"
        ></path><path
          fill="#414042"
          d="M139.812 24.243V6.207h-6.752v-2.43h16.203v2.43h-6.753v18.036h-2.698zM169.746 3.042h-3.5l-9.305 21.937h4.44s1.927-5.382 2.222-6.211h9.392l2.332 6.211H180l-9.759-21.937h-.495zm-1.504 5.282c.355 1.054.714 2.108.714 2.108l1.752 4.651h-4.862l1.883-4.992v.001c.214-.571.335-1.179.513-1.768z"
        ></path><path
          fill="#414042"
          d="M158.009 24.243l8.744-20.466h2.993l9.165 20.466h-3.075l-2.332-6.21h-10.417l-2.222 6.21h-2.856zm6.774-8.424h6.986l-2.123-5.64c-.633-1.727-1.119-3.158-1.459-4.297a25.815 25.815 0 0 1-1.147 3.95l-2.257 5.987zM0 24.241L16.051 0v17.034zM16.051 20.209v7.45H.055zM32.102 24.241L16.051 0v17.034zM16.051 20.209v7.45h15.995zM34.505 24.231a.962.962 0 1 0-.963-.964c0 .529.431.964.963.964zm0-.184a.778.778 0 1 1 0-1.559c.435 0 .778.347.778.78a.774.774 0 0 1-.778.779zm.226-.693c.185-.013.285-.092.285-.282 0-.109-.029-.21-.123-.271-.077-.045-.193-.046-.282-.046h-.501v1.034l.2.001v-.436h.206l.231.436.238-.001-.254-.435zm-.421-.158v-.295l.253.001c.103 0 .25-.001.25.137 0 .133-.082.159-.197.157h-.306z"
        ></path></svg
      >
    </div>

    <div class="text-gray-500 my-2 h-7 md:h-9">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        xmlns:xlink="http://www.w3.org/1999/xlink"
        width="97px"
        height="48px"
        viewBox="0 0 129 48"
        version="1.1"
      >
        <g id="surface1">
          <path
            style=" stroke:none;fill-rule:nonzero;fill:rgb(0%,0%,0%);fill-opacity:1;"
            d="M 0 23.976562 L 0 47.953125 L 129.023438 47.953125 L 129.023438 0 L 0 0 Z M 126.867188 23.976562 L 126.867188 45.796875 L 64.546875 45.773438 L 2.210938 45.738281 L 2.179688 23.941406 L 2.15625 2.160156 L 126.867188 2.160156 Z M 126.867188 23.976562 "
          ></path>
          <path
            style=" stroke:none;fill-rule:nonzero;fill:rgb(0%,0%,0%);fill-opacity:1;"
            d="M 11.121094 11.636719 L 11.121094 12.25 L 11.609375 12.328125 C 11.871094 12.363281 12.253906 12.433594 12.460938 12.464844 L 12.824219 12.523438 L 12.800781 23.964844 L 12.765625 35.398438 L 11.949219 35.488281 L 11.121094 35.589844 L 11.121094 36.933594 L 19.746094 36.933594 L 19.746094 35.589844 L 18.929688 35.488281 L 18.097656 35.398438 L 18.066406 30.191406 L 18.042969 25 L 29.390625 25 L 29.390625 30.160156 C 29.390625 34.464844 29.367188 35.328125 29.230469 35.375 C 29.140625 35.410156 28.710938 35.476562 28.265625 35.523438 L 27.460938 35.601562 L 27.460938 36.933594 L 36.3125 36.933594 L 36.3125 35.589844 L 35.550781 35.511719 C 35.144531 35.464844 34.734375 35.410156 34.644531 35.375 C 34.519531 35.328125 34.496094 33.285156 34.496094 23.921875 L 34.496094 12.523438 L 34.949219 12.453125 C 35.199219 12.421875 35.609375 12.351562 35.859375 12.316406 L 36.3125 12.25 L 36.3125 11.023438 L 27.460938 11.023438 L 27.460938 12.25 L 28.007812 12.316406 C 28.300781 12.363281 28.730469 12.421875 28.96875 12.453125 L 29.390625 12.523438 L 29.390625 22.273438 L 18.042969 22.273438 L 18.042969 12.523438 L 18.53125 12.441406 C 19.871094 12.238281 19.746094 12.316406 19.746094 11.636719 L 19.746094 11.023438 L 11.121094 11.023438 Z M 11.121094 11.636719 "
          ></path>
          <path
            style=" stroke:none;fill-rule:nonzero;fill:rgb(0%,0%,0%);fill-opacity:1;"
            d="M 42.996094 11.339844 C 40.636719 12.566406 41.578125 16.136719 44.253906 16.136719 C 45.0625 16.136719 45.6875 15.839844 46.207031 15.238281 C 47.058594 14.238281 47.058594 12.921875 46.195312 11.921875 C 45.402344 10.976562 44.121094 10.75 42.996094 11.339844 Z M 42.996094 11.339844 "
          ></path>
          <path
            style=" stroke:none;fill-rule:nonzero;fill:rgb(0%,0%,0%);fill-opacity:1;"
            d="M 51.859375 11.578125 L 51.859375 12.136719 L 52.628906 12.226562 L 53.390625 12.328125 L 53.425781 23.941406 L 53.449219 35.546875 L 53.140625 35.613281 C 52.960938 35.648438 52.609375 35.703125 52.347656 35.738281 L 51.859375 35.816406 L 51.859375 36.933594 L 59.914062 36.933594 L 59.914062 35.816406 L 59.4375 35.738281 C 59.167969 35.703125 58.816406 35.648438 58.644531 35.613281 L 58.328125 35.546875 L 58.328125 11.023438 L 51.859375 11.023438 Z M 51.859375 11.578125 "
          ></path>
          <path
            style=" stroke:none;fill-rule:nonzero;fill:rgb(0%,0%,0%);fill-opacity:1;"
            d="M 67.4375 13.910156 L 65.136719 14.601562 L 65.136719 18.523438 L 61.617188 18.523438 L 61.617188 20.226562 L 65.011719 20.226562 L 65.042969 27.125 C 65.089844 34.808594 65.089844 34.726562 65.875 35.816406 C 67.066406 37.453125 70.628906 37.625 74.871094 36.238281 L 75.574219 36 L 75.574219 34.75 L 75.234375 34.828125 C 75.042969 34.875 74.234375 34.910156 73.441406 34.910156 C 71.375 34.921875 70.71875 34.671875 70.21875 33.660156 L 69.957031 33.125 L 69.925781 26.671875 L 69.890625 20.226562 L 74.214844 20.226562 L 74.214844 18.523438 L 69.902344 18.523438 L 69.902344 15.851562 C 69.902344 14.386719 69.867188 13.183594 69.820312 13.191406 C 69.765625 13.203125 68.699219 13.523438 67.4375 13.910156 Z M 67.4375 13.910156 "
          ></path>
          <path
            style=" stroke:none;fill-rule:nonzero;fill:rgb(0%,0%,0%);fill-opacity:1;"
            d="M 84.878906 18.023438 C 83.179688 18.25 81.054688 19.101562 79.863281 20.046875 C 78.46875 21.160156 77.34375 22.933594 76.824219 24.828125 C 76.472656 26.101562 76.382812 28.933594 76.640625 30.441406 C 77.015625 32.558594 77.628906 33.863281 78.867188 35.113281 C 80.339844 36.601562 82.371094 37.328125 85.449219 37.453125 C 88.691406 37.601562 91.347656 36.738281 93.277344 34.921875 C 95.105469 33.203125 95.957031 31.214844 96.082031 28.410156 C 96.160156 26.625 95.988281 25.273438 95.5 23.839844 C 95.003906 22.351562 94.527344 21.589844 93.449219 20.511719 C 92.710938 19.761719 92.335938 19.5 91.460938 19.058594 C 89.976562 18.328125 88.828125 18.066406 86.867188 18.011719 C 85.992188 17.988281 85.097656 18 84.878906 18.023438 Z M 86.921875 19.433594 C 88.25 19.683594 89.160156 20.441406 89.816406 21.875 C 90.53125 23.421875 90.78125 24.921875 90.78125 27.773438 C 90.78125 33.464844 89.398438 36.035156 86.296875 36.046875 C 85.175781 36.058594 84.359375 35.738281 83.667969 35.011719 C 82.226562 33.535156 81.519531 30.101562 81.816406 26.078125 C 82.113281 22.046875 83.324219 19.863281 85.480469 19.433594 C 86.152344 19.308594 86.253906 19.308594 86.921875 19.433594 Z M 86.921875 19.433594 "
          ></path>
          <path
            style=" stroke:none;fill-rule:nonzero;fill:rgb(0%,0%,0%);fill-opacity:1;"
            d="M 110.207031 18.191406 C 108.789062 18.375 107.042969 19.160156 105.554688 20.285156 C 105.101562 20.625 104.671875 20.910156 104.613281 20.910156 C 104.558594 20.910156 104.511719 20.375 104.511719 19.714844 L 104.511719 18.523438 L 98.042969 18.523438 L 98.042969 19.75 L 98.589844 19.816406 C 98.882812 19.863281 99.257812 19.921875 99.4375 19.953125 L 99.746094 20.023438 L 99.746094 35.546875 L 99.097656 35.613281 C 98.042969 35.738281 98.042969 35.738281 98.042969 36.375 L 98.042969 36.933594 L 106.214844 36.933594 L 106.214844 36.363281 C 106.214844 36.046875 106.179688 35.796875 106.132812 35.785156 C 106.078125 35.773438 105.714844 35.714844 105.304688 35.636719 L 104.570312 35.511719 L 104.570312 22.328125 L 105.136719 21.953125 C 105.453125 21.75 106.113281 21.421875 106.609375 21.226562 C 107.394531 20.910156 107.65625 20.863281 108.539062 20.851562 C 109.664062 20.851562 110.1875 21.046875 110.777344 21.671875 C 111.671875 22.613281 111.796875 23.671875 111.75 30.339844 L 111.71875 35.511719 L 110.980469 35.636719 C 110.570312 35.714844 110.207031 35.773438 110.164062 35.785156 C 110.105469 35.796875 110.070312 36.046875 110.070312 36.363281 L 110.070312 36.933594 L 118.242188 36.933594 L 118.242188 36.375 C 118.242188 35.738281 118.242188 35.738281 117.199219 35.625 L 116.550781 35.546875 L 116.519531 28.933594 C 116.484375 22.386719 116.472656 22.316406 116.210938 21.535156 C 115.859375 20.453125 115.519531 19.898438 114.839844 19.285156 C 114.167969 18.683594 113.316406 18.328125 112.183594 18.183594 C 111.273438 18.058594 111.195312 18.058594 110.207031 18.191406 Z M 110.207031 18.191406 "
          ></path>
          <path
            style=" stroke:none;fill-rule:nonzero;fill:rgb(0%,0%,0%);fill-opacity:1;"
            d="M 40.171875 19.078125 L 40.171875 19.636719 L 40.714844 19.703125 C 41.011719 19.75 41.386719 19.808594 41.566406 19.839844 L 41.871094 19.910156 L 41.851562 27.703125 L 41.816406 35.511719 L 41.078125 35.636719 C 40.671875 35.714844 40.308594 35.773438 40.261719 35.785156 C 40.203125 35.796875 40.171875 36.046875 40.171875 36.363281 L 40.171875 36.933594 L 48.351562 36.933594 L 48.316406 36.410156 C 48.273438 35.785156 48.195312 35.714844 47.296875 35.625 L 46.640625 35.558594 L 46.640625 18.523438 L 40.171875 18.523438 Z M 40.171875 19.078125 "
          ></path>
        </g>
      </svg>
    </div>
    <div class="text-gray-500 my-2 h-7 md:h-9">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        xmlns:xlink="http://www.w3.org/1999/xlink"
        version="1.1"
        width="175"
        height="48"
        viewBox="0 0 175 48"
        xml:space="preserve"
      >
        <desc>Created with Fabric.js 5.2.4</desc>
        <defs> </defs>
        <g
          transform="matrix(0 0 0 0 0 0)"
          id="1a7f99c9-3bef-47f8-b69c-8b0ad0cc6692"
        >
        </g>
        <g
          transform="matrix(1 0 0 1 87.5 24)"
          id="f5b68e55-b901-4344-8607-0649741d690f"
        >
          <rect
            style="stroke: none; stroke-width: 1; stroke-dasharray: none; stroke-linecap: butt; stroke-dashoffset: 0; stroke-linejoin: miter; stroke-miterlimit: 4; fill: rgb(255,255,255); fill-rule: nonzero; opacity: 1; visibility: hidden;"
            vector-effect="non-scaling-stroke"
            x="-87.5"
            y="-24"
            rx="0"
            ry="0"
            width="175"
            height="48"></rect>
        </g>
        <g transform="matrix(0.04 0 0 0.04 87.5 24)">
          <g style="" vector-effect="non-scaling-stroke">
            <g transform="matrix(12.97 0 0 12.97 -0.06 -0.06)">
              <path
                style="stroke: none; stroke-width: 1; stroke-dasharray: none; stroke-linecap: butt; stroke-dashoffset: 0; stroke-linejoin: miter; stroke-miterlimit: 4; fill: rgb(255,255,255); fill-rule: evenodd; opacity: 1;"
                vector-effect="non-scaling-stroke"
                transform=" translate(-96.37, -96.37)"
                d="M 0 0 L 192.744 0 L 192.744 192.744 L 0 192.744 L 0 0 z"
                stroke-linecap="round"></path>
            </g>
            <g transform="matrix(12.97 0 0 12.97 -1185.52 221.01)">
              <path
                style="stroke: none; stroke-width: 1; stroke-dasharray: none; stroke-linecap: butt; stroke-dashoffset: 0; stroke-linejoin: miter; stroke-miterlimit: 4; fill: rgb(0,0,0); fill-rule: evenodd; opacity: 1;"
                vector-effect="non-scaling-stroke"
                transform=" translate(-4.97, -113.41)"
                d="M 4.971 111.901 C 4.135 111.901 3.4610000000000003 112.575 3.4610000000000003 113.41199999999999 C 3.4610000000000003 114.24799999999999 4.135000000000001 114.922 4.971 114.922 C 5.8069999999999995 114.922 6.482 114.24799999999999 6.482 113.41199999999999 C 6.482265534012569 113.01117653998652 6.323156619764288 112.62669347789024 6.03973157093702 112.34326842906297 C 5.756306522109751 112.0598433802357 5.371823460013465 111.90073446598743 4.970999999999999 111.901 z M 4.975 114.789 C 4.610747997129411 114.79066101672396 4.261167146322643 114.64559696796064 4.0051089229215995 114.38652850828156 C 3.7490506995205566 114.12746004860247 3.60808209669053 113.77620771407565 3.614 113.412 C 3.614 112.632 4.196 112.034 4.975 112.034 C 5.75 112.034 6.327999999999999 112.63600000000001 6.327999999999999 113.408 C 6.327999999999999 114.171 5.747 114.789 4.975 114.789 z"
                stroke-linecap="round"></path>
            </g>
            <g transform="matrix(12.97 0 0 12.97 -558.94 -3.55)">
              <path
                style="stroke: none; stroke-width: 1; stroke-dasharray: none; stroke-linecap: butt; stroke-dashoffset: 0; stroke-linejoin: miter; stroke-miterlimit: 4; fill: rgb(0,0,0); fill-rule: evenodd; opacity: 1;"
                vector-effect="non-scaling-stroke"
                transform=" translate(-53.28, -96.1)"
                d="M 5.213 113.484 C 5.4670000000000005 113.44399999999999 5.673 113.30199999999999 5.673 113.011 C 5.673 112.688 5.495 112.51899999999999 5.091 112.51899999999999 L 4.421 112.51899999999999 L 4.421 114.30399999999999 L 4.574 114.30399999999999 L 4.574 113.47999999999999 L 5.04 113.47999999999999 L 5.577 114.30399999999999 L 5.747 114.30399999999999 L 5.213 113.484 z M 4.955 113.347 L 4.575 113.347 L 4.575 112.65299999999999 L 5.0680000000000005 112.65299999999999 C 5.282000000000001 112.65299999999999 5.5200000000000005 112.734 5.5200000000000005 113.008 C 5.5200000000000005 113.318 5.2250000000000005 113.347 4.955 113.347 z M 18.363 101.51 L 40.23 101.51 L 40.23 77.894 L 2.792 77.894 L 2.792 91.69800000000001 L 29.381999999999998 91.69800000000001 C 30.76872794593903 91.67051848032915 31.878534665363322 90.53850022709865 31.878534665363322 89.1515 C 31.878534665363322 87.76449977290136 30.76872794593903 86.63248151967086 29.381999999999998 86.605 L 18.362 86.62700000000001 C 15.403549204935997 86.6263274752171 12.725652382184117 88.37809050455574 11.540999999999999 91.08900000000001 L 9.332999999999998 91.09100000000001 C 10.650999999999998 87.40400000000001 14.230999999999998 84.55300000000001 18.362 84.55300000000001 L 29.381999999999998 84.531 C 31.93383168659318 84.531 34.0025 86.59966831340682 34.0025 89.1515 C 34.0025 91.70333168659319 31.93383168659318 93.772 29.381999999999998 93.772 C 29.381999999999998 93.772 2.791999999999998 93.76700000000001 2.791999999999998 93.772 L 2.791999999999998 94.37100000000001 L 29.381999999999998 94.352 C 32.253880699120124 94.352 34.582 92.02388069912013 34.582 89.152 C 34.582 86.28011930087987 32.253880699120124 83.952 29.381999999999998 83.952 L 18.362 83.943 C 13.805999999999997 83.943 9.952999999999998 86.953 8.681 91.092 L 6.527999999999999 91.094 C 7.855999999999999 85.79499999999999 12.651 81.86999999999999 18.362 81.86999999999999 L 29.381999999999998 81.84799999999998 C 33.41588781276411 81.84799999999998 36.686 85.11811218723587 36.686 89.15199999999999 C 36.686 93.1858878127641 33.41588781276411 96.45599999999999 29.382 96.45599999999999 L 2.791999999999998 96.43999999999998 L 2.791999999999998 110.15599999999998 L 40.229 110.15599999999998 L 40.229 106.27399999999997 L 18.362 106.26699999999997 C 12.650999999999998 106.26699999999997 7.855999999999998 102.34199999999997 6.527999999999999 97.04299999999996 L 8.725999999999999 97.04499999999996 C 10.039 101.11599999999996 13.855999999999998 104.19299999999996 18.362 104.19299999999996 L 40.229 104.20299999999996 L 40.229 103.58299999999996 L 18.363 103.58299999999996 C 14.25448707934449 103.58291883464005 10.60963483677197 100.94685202469104 9.323 97.04499999999996 L 9.32 97.04499999999996 L 11.541 97.04699999999995 C 12.725909924907695 99.75828297387311 15.404103794805367 101.51037609045963 18.363 101.50999999999995 z M 98.758 97.456 L 96.154 97.456 L 91.12299999999999 108.042 L 94.059 108.042 L 95.04299999999999 105.756 L 99.74 105.756 L 100.804 108.042 L 103.771 108.042 L 98.758 97.456 z M 95.996 103.614 C 95.996 103.614 97.106 101.01100000000001 97.31299999999999 100.503 C 97.51999999999998 100.995 98.75799999999998 103.614 98.75799999999998 103.614 L 95.99599999999998 103.614 z M 52.621 103.043 C 53.795 102.566 54.462 101.63000000000001 54.462 100.34500000000001 C 54.462 99.39300000000001 53.986000000000004 98.48800000000001 53.192 97.98000000000002 C 52.43 97.52000000000002 51.526 97.45700000000002 50.669 97.45700000000002 L 43.766 97.45700000000002 L 43.766 108.04300000000002 L 46.416 108.04300000000002 L 46.416 104.18700000000003 L 49.559 104.18700000000003 C 52.082 104.18700000000003 51.035 106.40900000000002 51.558 108.04300000000002 L 54.478 108.04300000000002 C 53.589 106.13800000000002 54.779 103.86800000000002 52.621 103.04300000000002 z M 49.938 102.043 L 46.415 102.043 L 46.415 99.599 L 49.938 99.599 C 50.764 99.599 51.605000000000004 99.805 51.605000000000004 100.821 C 51.605000000000004 101.757 50.732000000000006 102.04299999999999 49.938 102.04299999999999 z M 55.636 108.042 L 65.016 108.042 L 65.016 105.899 L 58.287000000000006 105.899 L 58.287000000000006 103.725 L 64.20700000000001 103.725 L 64.20700000000001 101.582 L 58.287000000000006 101.582 L 58.287000000000006 99.59899999999999 L 65.016 99.59899999999999 L 65.016 97.45599999999999 L 55.636 97.45599999999999 L 55.636 108.04199999999999 z M 74.909 100.693 L 74.909 101.82 C 74.909 102.963 74.909 104.106 74.989 105.232 C 74.00500000000001 103.724 72.941 102.264 71.86200000000001 100.836 L 69.29100000000001 97.455 L 66.117 97.455 L 66.117 108.041 L 68.688 108.041 L 68.688 104.851 C 68.672 103.312 68.70400000000001 101.773 68.608 100.233 C 69.513 101.677 70.513 103.074 71.54400000000001 104.43900000000001 L 74.27400000000002 108.042 L 77.48000000000002 108.042 L 77.48000000000002 97.456 L 74.90900000000002 97.456 L 74.90900000000002 100.693 z M 88.204 97.456 L 78.23599999999999 97.456 L 78.23599999999999 99.599 L 81.90299999999999 99.599 L 81.90299999999999 108.042 L 84.553 108.042 L 84.553 99.599 L 88.204 99.599 L 88.204 97.456 z"
                stroke-linecap="round"></path>
            </g>
            <g transform="matrix(12.97 0 0 12.97 265.43 -24.87)">
              <path
                style="stroke: none; stroke-width: 1; stroke-dasharray: none; stroke-linecap: butt; stroke-dashoffset: 0; stroke-linejoin: miter; stroke-miterlimit: 4; fill: rgb(0,0,0); fill-rule: evenodd; opacity: 1;"
                vector-effect="non-scaling-stroke"
                transform=" translate(-116.84, -94.46)"
                d="M 91.322 102.884 L 85.983 102.884 L 85.983 105.059 L 91.322 105.059 L 91.322 102.884 z M 119.645 103.884 C 119.075 105.487 118.08999999999999 106.344 116.313 106.344 C 114.249 106.344 112.774 104.86699999999999 112.774 102.78899999999999 C 112.774 100.71 114.266 99.15399999999998 116.376 99.15399999999998 C 117.85300000000001 99.15399999999998 118.98 99.75699999999998 119.552 101.15399999999998 L 122.40700000000001 101.15399999999998 C 121.74100000000001 98.34399999999998 118.97900000000001 97.09099999999998 116.31300000000002 97.09099999999998 C 112.75800000000001 97.09099999999998 109.96300000000002 99.15399999999998 109.96300000000002 102.91599999999998 C 109.96300000000002 106.69299999999998 113.01200000000003 108.40699999999998 116.42400000000002 108.40699999999998 C 119.55100000000002 108.40699999999998 121.78700000000002 106.99399999999999 122.56700000000002 103.88399999999999 L 119.64500000000002 103.88399999999999 z M 129.639 97.456 L 127.03500000000001 97.456 L 122.004 108.042 L 124.94 108.042 L 125.92399999999999 105.756 L 130.623 105.756 L 131.685 108.042 L 134.65200000000002 108.042 L 129.639 97.456 z M 126.87700000000001 103.614 C 126.87700000000001 103.614 127.98800000000001 101.01100000000001 128.193 100.503 C 128.4 100.995 129.638 103.614 129.638 103.614 L 126.87700000000001 103.614 z M 144.398 103.043 C 145.572 102.566 146.238 101.63000000000001 146.238 100.34500000000001 C 146.238 99.39300000000001 145.761 98.48800000000001 144.968 97.98000000000002 C 144.206 97.52000000000002 143.302 97.45700000000002 142.445 97.45700000000002 L 135.541 97.45700000000002 L 135.541 108.04300000000002 L 138.191 108.04300000000002 L 138.191 104.18700000000003 L 141.334 104.18700000000003 C 143.857 104.18700000000003 142.811 106.40900000000002 143.334 108.04300000000002 L 146.254 108.04300000000002 C 145.36499999999998 106.13800000000002 146.557 103.86800000000002 144.398 103.04300000000002 z M 141.715 102.043 L 138.192 102.043 L 138.192 99.599 L 141.715 99.599 C 142.541 99.599 143.381 99.805 143.381 100.821 C 143.381 101.757 142.51 102.04299999999999 141.715 102.04299999999999 z M 155.322 94.373 L 159.186 94.373 L 159.186 80.925 L 155.322 80.925 L 155.322 94.37299999999999 z M 169.256 86.204 L 165.969 85.859 C 165.117 85.77799999999999 164.498 85.65599999999999 164.498 84.56099999999999 C 164.498 83.222 166.152 82.999 167.125 82.999 C 168.648 82.999 170.789 83.344 171.234 85.008 L 174.804 85.008 C 174.216 81.15299999999999 170.827 80.50399999999999 167.48 80.50399999999999 C 164.72 80.50399999999999 160.927 81.6 160.927 84.96799999999999 C 160.927 87.64599999999999 162.661 88.6 164.974 88.823 L 168.78799999999998 89.229 C 169.70199999999997 89.31 171.36599999999999 89.534 171.36599999999999 90.71 C 171.36599999999999 92.27199999999999 169.093 92.475 167.956 92.475 C 166.34099999999998 92.475 164.647 92.08999999999999 164.087 90.564 L 160.433 90.577 C 160.56799999999998 91.64399999999999 160.904 92.617 161.78799999999998 93.369 C 163.433 94.789 165.78599999999997 94.972 167.85399999999998 94.972 C 170.87699999999998 94.972 175.2 94.181 175.2 90.30499999999999 C 175.201 87.17699999999999 171.75199999999998 86.44699999999999 169.256 86.204 z M 57.039 91.332 L 47.663000000000004 91.332 L 47.663000000000004 88.854 L 55.57300000000001 88.854 L 55.57300000000001 85.812 L 47.66300000000001 85.812 L 47.66300000000001 83.923 L 57.03900000000001 83.923 L 57.03900000000001 80.925 L 43.79900000000001 80.925 L 43.79900000000001 94.37299999999999 L 57.03900000000001 94.37299999999999 L 57.03900000000001 91.332 z M 104.051 91.332 L 94.674 91.332 L 94.674 88.854 L 102.584 88.854 L 102.584 85.812 L 94.674 85.812 L 94.674 83.923 L 104.051 83.923 L 104.051 80.925 L 90.811 80.925 L 90.811 94.37299999999999 L 104.051 94.37299999999999 L 104.051 91.332 z M 189.879 83.923 L 189.879 80.925 L 176.641 80.925 L 176.641 94.37299999999999 L 189.879 94.37299999999999 L 189.879 91.332 L 180.50199999999998 91.332 L 180.50199999999998 88.854 L 188.414 88.854 L 188.414 85.812 L 180.50199999999998 85.812 L 180.50199999999998 83.923 L 189.879 83.923 z M 80.046 94.373 L 83.866 94.373 L 83.866 83.923 L 89.913 83.923 L 89.913 80.925 L 74.885 80.925 L 74.885 83.923 L 80.046 83.923 L 80.046 94.373 z M 133.541 80.932 L 122.479 80.932 L 122.479 94.37 L 126.317 94.37 L 126.317 88.849 L 133.542 88.831 C 134.96800098282728 88.85351017071837 136.29540112186658 88.1055737291352 137.01487501178653 86.87417499901828 C 137.7343489017065 85.64277626890134 137.73415601474252 84.11916214040154 137.01437036190922 82.88794561810114 C 136.2945847090759 81.65672909580074 134.9669952376191 80.9091287713983 133.541 80.932 z M 132.07399999999998 85.812 L 126.31599999999999 85.812 L 126.31599999999999 83.93299999999999 L 132.07399999999998 83.952 C 132.588 83.952 133.00599999999997 84.369 133.00599999999997 84.882 C 133.00599999999997 85.39500000000001 132.58799999999997 85.81200000000001 132.07399999999998 85.81200000000001 z M 117 88.828 C 119.414 88.74900000000001 121.102 87.012 121.102 84.881 C 121.10200006989696 82.69986570279622 119.33413422730685 80.93155218589803 117.153 80.931 L 105.659 80.931 L 105.659 94.37 L 109.497 94.37 L 109.497 88.849 L 112.431 88.843 L 116.786 94.37 L 121.401 94.37 L 117 88.828 z M 116.031 85.812 L 109.49600000000001 85.812 L 109.49600000000001 83.93299999999999 L 116.031 83.952 C 116.54462480744903 83.9520000139917 116.96099997466581 84.36837519255099 116.96099997466581 84.88199999999999 C 116.96099997466581 85.39562480744901 116.54462480744903 85.8119999860083 116.031 85.812 z M 62.312 86.218 L 69.386 94.37 L 73.871 94.37 L 73.871 80.913 L 70.033 80.913 L 70.033 89.583 L 62.571 80.913 L 58.474 80.913 L 58.474 94.37 L 62.312 94.37 L 62.312 86.218 z M 103.623 105.059 L 108.961 105.059 L 108.961 102.884 L 103.623 102.884 L 103.623 105.059 z M 149.391 88.828 C 151.80499999999998 88.74900000000001 153.493 87.012 153.493 84.881 C 153.49300006989694 82.6998657027962 151.72513422730682 80.93155218589801 149.54399999999998 80.931 L 138.05 80.931 L 138.05 94.37 L 141.888 94.37 L 141.888 88.849 L 144.822 88.843 L 149.177 94.37 L 153.792 94.37 L 149.391 88.828 z M 148.422 85.812 L 141.887 85.812 L 141.887 83.93299999999999 L 148.422 83.952 C 148.93562480744902 83.9520000139917 149.3519999746658 84.36837519255099 149.3519999746658 84.88199999999999 C 149.3519999746658 85.39562480744901 148.93562480744902 85.8119999860083 148.422 85.812 z"
                stroke-linecap="round"></path>
            </g>
          </g>
        </g>
      </svg>
    </div>
    <div class="text-gray-500 my-2 h-7 md:h-9">
      <svg
        viewBox="0 0 175 48"
        width="175"
        height="48"
        class="h-full w-auto"
        xmlns="http://www.w3.org/2000/svg"
        fill="currentColor"
        ><g fill="current" transform="translate(3 7)"
          ><path
            d="m56.6548259 25.3816928c-4.1385107 0-7.493381-3.4354677-7.493381-7.6740785 0-4.2375322 3.3548703-7.6729999 7.493381-7.6729999s7.4930223 3.4354677 7.4930223 7.6729999c0 4.2386108-3.3545116 7.6740785-7.4930223 7.6740785zm7.5167037.9731908c.1033371 1.1773918 1.0441361 2.6765442 2.6742084 2.6765442h.9537161c.3695739 0 .6727681-.3034255.6727681-.6737198v-20.9992784h-.0043057c-.0190169-.35375682-.311088-.6374094-.6684624-.6374094h-2.9551564c-.3573744 0-.6494455.28365258-.66918.6374094h-.0035881v1.70622957c-1.8109123-2.23434825-4.665602-3.16188139-7.5281855-3.16188139-6.5070133 0-11.782233 5.28514132-11.782233 11.80483652 0 6.5204142 5.2752197 11.8055555 11.782233 11.8055555v.0007191c2.8625835 0 5.9824335-1.1130398 7.5278267-3.1618814zm40.8858944-.9731908c-4.138215 0-7.4934948-3.4354677-7.4934948-7.6740785 0-4.2375322 3.3552798-7.6729999 7.4934948-7.6729999 4.138574 0 7.493136 3.4354677 7.493136 7.6729999 0 4.2386108-3.354562 7.6740785-7.493136 7.6740785zm7.516818.9731908c.103339 1.1773918 1.044152 2.6765442 2.674249 2.6765442h.954089c.36958 0 .67242-.3034255.67242-.6737198v-20.9992784h-.003947c-.019376-.35375682-.311452-.6374094-.668473-.6374094h-2.95556c-.357379 0-.649096.28365258-.66919.6374094h-.003588v1.70622957c-1.81094-2.23434825-4.665673-3.16188139-7.5283-3.16188139-6.5071121 0-11.7820531 5.28514132-11.7820531 11.80483652 0 6.5204142 5.274941 11.8055555 11.7820531 11.8055555v.0007191c2.862627 0 5.982524-1.1130398 7.527941-3.1618814z"
          ></path><path
            d="m158.204594 25.1860427c-4.064988 0-7.359971-3.3675788-7.359971-7.5224295 0-4.1537935 3.294983-7.5213723 7.359971-7.5213723 4.064282 0 7.358914 3.3675788 7.358914 7.5213723 0 4.1548507-3.294632 7.5224295-7.358914 7.5224295zm7.382172.9539594c.101493 1.1541251 1.025498 2.6236526 2.626472 2.6236526h.937044c.362977 0 .660759-.2974295.660759-.6604063v-20.58430769h-.004229c-.01903-.34676617-.305535-.62481343-.65653-.62481343h-2.902757c-.350995 0-.6375.27804726-.656882.62481343h-.003877v1.67251244c-1.778234-2.19019486-4.581965-3.09939884-7.393449-3.09939884-6.391211 0-11.571912 5.18070069-11.571912 11.57155889 0 6.3915631 5.180701 11.5722637 11.571912 11.5722637v.0007048c2.811484 0 5.875642-1.0910448 7.393097-3.0993989z"
          ></path><path
            d="m142.84652 26.386958-.001406-10.5372015h.000352c0-5.93987885-3.776327-9.94697872-9.798285-9.94697872-2.874492 0-5.504816 1.63540156-6.063061 3.06650865-.179876-1.10793139-.772903-2.27268871-2.611003-2.27268871h-.936967c-.36221 0-.658372.29458842-.658372.65367254v18.38754724.002789 1.9390543.0359084h.003864c.018621.3423501.304945.6177641.654859.6177641h1.959657.933805c.044266 0 .08783-.0052294.129637-.0135963.019322-.0034863.037239-.0108074.055859-.0160368.021431-.0066239.043916-.0118532.064292-.0202203.025646-.0104588.049184-.0247524.073074-.0380002.011594-.0069725.024242-.0122019.035484-.019523.028808-.0184771.055157-.0407891.080803-.0634498.004216-.0041835.009486-.0069726.01335-.0108074.028808-.0275414.055157-.0578717.078344-.0895967l.000352-.0006972c.072371-.0986611.116286-.2175423.123664-.3458364h.003513v-.0359084-1.2923542-.3395612-10.3614942c0-3.189922 2.606435-5.77637355 5.821706-5.77637355 3.214919 0 5.821355 2.58645155 5.821355 5.77637355l.002809 10.054704.000703-.0031377c0 .0087157.001406.01778.001406.0275414v1.9143019.0359084h.003513c.019322.3423501.305295.6177641.65521.6177641h1.958603.934859c.044618 0 .08783-.0052294.129637-.0135963.017215-.0031377.033024-.0097615.049887-.0146423.023539-.0066239.047779-.0125505.070615-.0216148.023539-.0097616.04532-.0230093.067453-.0359084.013702-.0073212.028106-.0128992.041105-.0216148.027051-.0174312.051293-.0383488.075182-.059615.006323-.0052293.012999-.0094128.018972-.0153394.027402-.0261469.051643-.0543856.074128-.0843673.001757-.0020919.003512-.0038349.005269-.0059267.071318-.0979638.114882-.2157991.122259-.3433959 0-.0010459.000352-.0017432.000352-.0017432h.003864v-.0359084-1.2923542zm-68.0938885-3.0398982c2.019354 1.3696875 4.2238214 2.0343993 6.3423435 2.0343993 2.0178847 0 4.103718-1.0238504 4.103718-2.8062416 0-2.3795174-4.5459338-2.7498003-7.4019717-3.6999536-2.8567726-.9501533-5.3172404-2.9140909-5.3172404-6.095289 0-4.86688419 4.4306051-6.87719712 8.5662773-6.87719712 2.6202386 0 5.3234843.84589884 7.0761866 2.05704768.6038228.44757504.2361667.96201671.2361667.96201671l-1.6733679 2.33853463c-.1876845.2635121-.5167754.4914338-.9887415.2059924-.4719662-.285082-2.1273369-1.4318807-4.6502439-1.4318807-2.5232742 0-4.0431154 1.1406873-4.0431154 2.5542334 0 1.6950333 1.9752793 2.2281688 4.2891989 2.8058822 4.0317296 1.0637547 8.4303805 2.3424891 8.4303805 7.1806134 0 4.288452-4.0982087 6.9386714-8.6272472 6.9386714-3.4326815 0-6.3548314-.9577027-8.8057497-2.7181646-.5108988-.5000617-.1542613-.9645331-.1542613-.9645331l1.6649202-2.3270307c.3386404-.4349926.7657972-.2832845.9527473-.1571007z"
          ></path><path
            d="m27.1527778 8.26333583c0 4.56415467-3.6997975 8.26444197-8.2638889 8.26444197s-8.2638889-3.7002873-8.2638889-8.26444197c0-4.56304855 3.6997975-8.26333583 8.2638889-8.26333583s8.2638889 3.70028728 8.2638889 8.26333583"
          ></path><path
            d="m8.23160463 17.773563c-4.54624074 0-8.2315679 3.6845926-8.2315679 8.2308333 0 4.5462408 3.68532716 8.2319352 8.2315679 8.2319352 4.54624077 0 8.23193527-3.6856944 8.23193527-8.2319352 0-4.5462407-3.6856945-8.2308333-8.23193527-8.2308333"
          ></path><path
            d="m29.3846129 17.7727549c-4.4470501 0-8.0526208 3.6853272-8.0526208 8.2319352 0 4.5458734 3.6055707 8.2315679 8.0526208 8.2315679 4.4474094 0 8.0529801-3.6856945 8.0529801-8.2315679 0-4.546608-3.6055707-8.2319352-8.0529801-8.2319352"
          ></path></g
        ></svg
      >
    </div>
  </div>
</div>
