---
import { ViewTransitions } from "astro:transitions";
import { SEO } from "astro-seo";
import Footer from "@components/footer.astro";
import Navbar from "@components/navbar/navbar.astro";
import "@fontsource-variable/inter/index.css";

interface Props {
  title?: string;
  footerMargin?: boolean;
}

const canonicalURL = new URL(Astro.url.pathname, Astro.site).toString();

const resolvedImageWithDomain = new URL(
  "/opengraph.jpg",
  Astro.site,
).toString();

const { title, footerMargin = true } = Astro.props;

const makeTitle = title
  ? title + " | " + "Compass & Style"
  : "Compass & Style | Where we take you on an adventure in style";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />

    <SEO
      title={makeTitle}
      description="Compass & Style | Where we take you on an adventure in style"
      canonical={canonicalURL}
      twitter={{
        creator: "@thenameisalnoor",
        site: "@compassandstyle.com",
        card: "summary_large_image",
      }}
      openGraph={{
        basic: {
          url: canonicalURL,
          type: "website",
          title: `Compass & Style | Where we take you on an adventure in style`,
          image: resolvedImageWithDomain,
        },
        image: {
          alt: "Screenshot",
        },
      }}
    />
    <style is:global>
      :root {
        --soft-blue: #e6f3ff;
        --soft-green: #e6fff0;
      }
      /* Improve Page speed */
      /* https://css-tricks.com/almanac/properties/c/content-visibility/ */
      img {
        content-visibility: auto;
      }
      /* Remove arrows from list-style - fix for tailwindcss */
      details > summary.list-none::-webkit-details-marker,
      details > summary.list-none::marker {
        display: none;
      }
      /* New responsive styles */
      .why-travel-agent {
        padding: 1rem;
      }

      .why-travel-agent section {
        margin-bottom: 2rem;
      }

      @media (min-width: 768px) {
        .why-travel-agent {
          display: grid;
          grid-template-columns: 1fr 1fr;
          gap: 2rem;
        }
      }
    </style>
    <ViewTransitions />
  </head>
  <body>
    <Navbar />
    <slot />
        <Footer margin={footerMargin} />
  </body>
</html>
